{% extends 'base.html' %}
{% load static %}
{% block title %}Pracabaza - О нас{% endblock title %}
{% block static %}
<link rel="stylesheet" href="{% static 'main/css/scroll_styles.css' %}">
<link rel="stylesheet" href="{% static 'main/css/media_styles.css' %}">
<link rel="stylesheet" href="{% static 'main/css/custom_styles.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'vacancy/css/background_styles.css' %}"> {% endcomment %}
<style>
{% comment %} @media (max-width: 767px) {
  .image-wrapper img {
    content: url("{% static 'main/img/background_sm.png' %}");
    width: 100%;
  }
} {% endcomment %}

@media (max-width: 991px) {
    #phone, #name, #vacancy {
      width: 300px; /* Или другое значение, если вы хотите изменить ширину на меньших экранах */
    }
}

@media (max-width: 767px) {
  #phone, #name, #vacancy {
    width: 250px; /* Или другое значение, если вы хотите изменить ширину на меньших экранах */
  }
}
.carousel-control-prev,
.carousel-control-next {
  top: 50%; /* Расположить по вертикали на 50% */
  transform: translateY(-50%); /* Поднять на половину высоты элемента */
  bottom: auto; /* Убрать нижнее позиционирование */
}

.carousel-control-prev {
  left: 0; /* Расположить слева */
}

.carousel-control-next {
  right: 0; /* Расположить справа */
}

.carousel-indicators {
  bottom: 0; /* Переместить индикаторы на нижний край */
  margin-bottom: 20px; /* Добавить немного отступа снизу */
}
.embed-responsive img {
  border-radius: 10px; /* Задайте желаемый радиус закругления */
}
</style>
<style>
  .main-text-header {
    font-size:50px; 
    line-height:60px; 
    color: white
  }
  
  @media (max-width: 767px) {
    .main-text-header {
      font-size:40px; 
      line-height:50px; 
    }
  }
</style>
<style>
  .custom-icon {
    font-size: 1.2rem;
    line-height: 1;
    margin-right: 0.1rem;
  }
  .custom-text {
    margin: 0;
  }
  .custom-salary {
    font-size: 1.5rem; /* Увеличение размера шрифта зарплаты */
  }
</style>
<style>
  .slavestar {
    opacity: 0;
    transition: opacity 0.5s ease;
 }
 
 .slavestar.open {
    opacity: 1;
 }
 .reviewstars {
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 40pt; /* Начальная высота контейнера */
 }
 
 .reviewstars.open {
    max-height: 200pt; /* Максимальная высота контейнера при открытии */
 }

 .reviewstars.open .fa-chevron-down {
    display: inline-block;
    transform: rotate(180deg);
 }

 .masterstar {
  background: #ebebeb; 
  border-radius: 5px; 
  margin-bottom: 10px;
 }
 .masterstar:hover {
  background: #dfdfdf;
  color: #0a58ca;
 }
 .reviewstars.open .masterstar {
  background: #dfdfdf;
  color: #0a58ca;
 }
</style>

<style>
.custom-btn-xl {
  font-size: 1.5rem; /* Размер шрифта */
  padding: 0.5rem 1rem; /* Внутренние отступы кнопки */
}

body {
  overflow-x: hidden;
}

.header {
  background-color: rgb(51 51 51)
}
.image-crop {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
</style>

<style>
  .btn-facebook {
    display: inline-block;
    border-radius: 50%; /* Создаем круглую форму */
    background-color: gray; /* Цвет фона кнопки */
    color: white; /* Цвет иконки */
    padding: 10px; /* Отступы внутри кнопки */
    font-size: 30px; /* Размер иконки */
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .btn-facebook:hover {
    background-color: #1877f2; /* Изменяем цвет фона при наведении */
  }
</style>

<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>

{% endblock static %}


{% comment %} {% block image_wrapper %}
    <div class="image-wrapper">
        <img class="img-responsive" src="{{vacancy.card_photo.file.url}}" alt="Фото">
    </div>
    <div class='p-md-5 p-sm-2'>
      <a class="custom-title-link" style='color: white;' href="{% url 'vacancy:list' %}">
        <i class="fa-solid fa-arrow-left"></i> Вернуться к поиску
      </a>
      <h1 class='main-text-header'><strong>{{vacancy.name}}</strong></h1>
    </div>
{% endblock image_wrapper %} {% endcomment %}

{% block content_wrapper %}
<div class="container-fluid p-1 px-md-3 pt-2">
  <div class="row p-1 px-md-5 pt-2" style='background-color: ##f5f5f5'>
    <div class='row' >
      <div class='col-9 m-auto'>
        <div class='row p-3 mt-2' style='background: #f5f5f5; border-radius: 30px'>
          <div class="embed-responsive embed-responsive-21by9">
            <img src="{{about_us.photo.file.url}}" class="embed-responsive-item image-crop" alt="Responsive image">
          </div>
          <div class='mt-md-3'>
            <h1 style="color: #1e1742;">
              <strong>{{about_us.title}}</strong>
            </h1>
            <div>
              <div class='my-4'>
                {{about_us.text|safe}}
              </div>
            </div>
          </div>
        </div>
        <div class='row p-3 mt-2'>
          <div class='text-center'>
            <h3><b>Наша команда</b></h3>
          </div>
          {% if team.count >= 8 %}
          <div class="col-1 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-secondary"><i class="fa-regular fa-arrow-left"></i></button>
          </div>  
          {% endif %}
          <div class='col-md-10 col-12 mx-auto responsive-slides'>
            {% for teamate in team %}
            <div class='text-center mx-2'>
              <div class="embed-responsive embed-responsive-1by1 my-2 mt-4">
                <img src="{{teamate.photo.file_thumbnail_avatar.url}}" class="embed-responsive-item image-crop" alt="Responsive image">
              </div>
              <div class='p-2'>
                <span class="d-block"><b>{{teamate.name}}</b></span>
                <span class="d-block">{{teamate.position}}</span>
              </div>
            </div>
            {% endfor %}
          </div>
          {% if team.count >= 8 %}
          <div class="col-1 d-flex justify-content-between align-items-center">
            <button class="btn btn-outline-secondary"><i class="fa-regular fa-arrow-right"></i></button>
          </div>  
          {% endif %}
        </div>

        {% include 'info_pages/sub_updates.html' with use_bg=True %}       

        {% include 'info_pages/partners.html' with use_bg=False %} 
      </div>
    </div>
  </div>
</div>
{% endblock content_wrapper %}


{% block scripts %}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $('.responsive-slides').slick({
    dots: true,
    infinite: false,
    speed: 300,
    autoplay: true,
    slidesToShow: 6,
    slidesToScroll: 2,
    responsive: [
        {
            breakpoint: 1024,
            settings: {
                slidesToShow: 4,
                slidesToScroll: 2,
                infinite: true,
                dots: true
            }
        },
        {
            breakpoint: 600,
            settings: {
                slidesToShow: 2,
                slidesToScroll: 1
            }
        },
        {
            breakpoint: 480,
            settings: {
                slidesToShow: 1,
                slidesToScroll: 1
            }
        }
    ]
});
$('.variable-width').slick({
  dots: true,
  infinite: true,
  speed: 300,
  slidesToShow: 1,
  centerMode: true,
  variableWidth: true,
  autoplay: true,
  autoplaySpeed: 1000,
});
</script>
{% endblock scripts %}