{% extends 'base.html' %}
{% load static %}
{% block title %}Pracabaza - {{document.name}}{% endblock title %}
{% block static %}
<link rel="stylesheet" href="{% static 'main/css/scroll_styles.css' %}">
<link rel="stylesheet" href="{% static 'main/css/media_styles.css' %}">
<link rel="stylesheet" href="{% static 'main/css/custom_styles.css' %}">
{% comment %} <link rel="stylesheet" href="{% static 'vacancy/css/background_styles.css' %}"> {% endcomment %}
<style>
{% comment %} @media (max-width: 767px) {
  .image-wrapper img {
    content: url("{% static 'main/img/background_sm.png' %}");
    width: 100%;
  }
} {% endcomment %}

@media (max-width: 991px) {
    #phone, #name, #vacancy {
      width: 300px; /* Или другое значение, если вы хотите изменить ширину на меньших экранах */
    }
}

@media (max-width: 767px) {
  #phone, #name, #vacancy {
    width: 250px; /* Или другое значение, если вы хотите изменить ширину на меньших экранах */
  }
}
.carousel-control-prev,
.carousel-control-next {
  top: 50%; /* Расположить по вертикали на 50% */
  transform: translateY(-50%); /* Поднять на половину высоты элемента */
  bottom: auto; /* Убрать нижнее позиционирование */
}

.carousel-control-prev {
  left: 0; /* Расположить слева */
}

.carousel-control-next {
  right: 0; /* Расположить справа */
}

.carousel-indicators {
  bottom: 0; /* Переместить индикаторы на нижний край */
  margin-bottom: 20px; /* Добавить немного отступа снизу */
}
.carousel-inner .carousel-item .embed-responsive {
  border-radius: 30px; /* Задайте желаемый радиус закругления */
}
</style>
<style>
  .main-text-header {
    font-size:50px; 
    line-height:60px; 
    color: white
  }
  
  @media (max-width: 767px) {
    .main-text-header {
      font-size:40px; 
      line-height:50px; 
    }
  }
</style>
<style>
  .custom-icon {
    font-size: 1.2rem;
    line-height: 1;
    margin-right: 0.1rem;
  }
  .custom-text {
    margin: 0;
  }
  .custom-salary {
    font-size: 1.5rem; /* Увеличение размера шрифта зарплаты */
  }
</style>
<style>
  .slavestar {
    opacity: 0;
    transition: opacity 0.5s ease;
 }
 
 .slavestar.open {
    opacity: 1;
 }
 .reviewstars {
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 40pt; /* Начальная высота контейнера */
 }
 
 .reviewstars.open {
    max-height: 200pt; /* Максимальная высота контейнера при открытии */
 }

 .reviewstars.open .fa-chevron-down {
    display: inline-block;
    transform: rotate(180deg);
 }

 .masterstar {
  background: #ebebeb; 
  border-radius: 5px; 
  margin-bottom: 10px;
 }
 .masterstar:hover {
  background: #dfdfdf;
  color: #0a58ca;
 }
 .reviewstars.open .masterstar {
  background: #dfdfdf;
  color: #0a58ca;
 }
</style>

<style>
.custom-btn-xl {
  font-size: 1.5rem; /* Размер шрифта */
  padding: 0.5rem 1rem; /* Внутренние отступы кнопки */
}

body {
  overflow-x: hidden;
}
.header {
  background-color: rgb(51 51 51)
}
</style>
{% endblock static %}


{% comment %} {% block image_wrapper %}
    <div class="image-wrapper">
        <img class="img-responsive" src="{{vacancy.card_photo.file.url}}" alt="Фото">
    </div>
    <div class='p-md-5 p-sm-2'>
      <a class="custom-title-link" style='color: white;' href="{% url 'vacancy:list' %}">
        <i class="fa-solid fa-arrow-left"></i> Вернуться к поиску
      </a>
      <h1 class='main-text-header'><strong>{{vacancy.name}}</strong></h1>
    </div>
{% endblock image_wrapper %} {% endcomment %}

{% block content_wrapper %}
<div class="container-fluid p-1 p-md-5">
    <div class="row p-5 pt-0" style='background-color: #f1f1f1; border-radius: 3rem'>
        <h1 class='pb-5 mt-3'>{{document.name}}</h1>
        {{document.text|safe}}
    </div>
</div>
{% endblock content_wrapper %}


{% block scripts %}
<script>
$(document).ready(function() {
  $('.masterstar').click(function() {
    var reviewStars = $(this).closest('.reviewstars');
    var slaveStars = $(this).parent().find('.slavestar')
    if (reviewStars.hasClass('open')) {
      reviewStars.removeClass('open');
      slaveStars.each(function() {
        $(this).removeClass('open');
     });
    } else {
      $('.reviewstars.open').removeClass('open');
      slaveStars.each(function() {
        $(this).addClass('open');
     });
      reviewStars.addClass('open');
    }
  });
});
</script>
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/intlTelInput.min.js"></script>
<script>
    const input = document.querySelector("#phone");
    window.intlTelInput(input, {
        utilsScript: "https://cdn.jsdelivr.net/npm/intl-tel-input@18.2.1/build/js/utils.js",
        preferredCountries: ['pl', 'uk', 'ua']
    });
</script>
{% endblock scripts %}