{% extends 'base.html' %}
{% load static %}
{% block title %}Pracabaza - Вакансии{% endblock title %}
{% block static %}
<link rel="stylesheet" href="{% static 'main/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'main/css/scroll_styles.css' %}">
<link rel="stylesheet" href="{% static 'main/css/media_styles.css' %}">
<link rel="stylesheet" href="{% static 'main/css/custom_styles.css' %}">
<link rel="stylesheet" href="{% static 'main/css/background_styles.css' %}">
<style>
    @media (max-width: 767px) {
        .image-wrapper img {
            content: url("{% static "main/img/list/3.jpg" %}");
            width: 100%;
        }
    }
    .main-text-header {
        font-size:50px; 
        line-height:60px; 
        color: white
      }
      
    @media (max-width: 767px) {
    .main-text-header {
        font-size:40px; 
        line-height:50px; 
    }
    }
</style>
<style>
    .image-fade {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
    }

    .active {
        opacity: 1;
    }

    .form-sizes-media {
        width: 100%;
      }
      
      @media (min-width: 576px) {
        .form-sizes-media {
          width: 50%;
        }
      }
      
      @media (min-width: 768px) {
        .form-sizes-media {
          width: 65%;
        }
      }
</style>
{% endblock static %}


{% block image_wrapper %}
    <div class="image-wrapper">
        <img class="img-responsive image-fade active" id="changingImage" src="{% static 'main/img/background_lg.jpg' %}" alt="Фото">
        <img class="img-responsive image-fade" id="nextImage" src="{% static 'main/img/list/1.jpg' %}" alt="Фото">
    </div>
    <div class="container-fluid p-4 mt-sm-2">
        <div class="row">
            <div class="col mx-auto">
            </div>
            <div class="col-md-7">
                <h1 class="text-white main-text-header p-2 text-end"><strong>Работа в Польше</strong></h1>
                <div class="mt-md-5 pt-md-5">
                    <div class="card mt-5">
                        <div class="card-body">
                            <h4 style='font-size: 1.5rem;'><strong>Не нашли подходящую вакансию?</strong></h4> 
                            <h5 style='font-size: 1.1rem;'>Оставьте ваши контакты – мы подберем для вас идеальную работу.</h5>
                            <form class="p-1" action="{% url 'vacancy:apply' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input class="form-control phone-input my-2 form-sizes-media" type="text" placeholder="Ваше Имя" aria-label="default input example" id='name', name="name">
                                <input class="form-control phone-number-input form-sizes-media" type="text" placeholder="Номер телефона" aria-label="default input example" id='phone', name="phone">
                                <div class="row">
                                    <div class='col-md-8 col-sm-12'>
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" type="checkbox" id="check1" name="location" value="something1">
                                            <label class="form-check-label" style='font-size: 0.5rem;'>Я даю согласие на обработку моих персональных данных компанией Pracabaza Sp. z.o.o. Предоставление данных является добровольным, но необходимым для обработка запроса и предоставление услуги. Подробная информация об объеме и целях обработки данных нами персональные данные и права субъектов данных можно найти в нашей политике конфиденциальности.</label>
                                        </div>
                                    </div>
                                    <div class='col-md-4 col-sm-12 mt-sm-3'>
                                        <button type="submit" class="btn-lg btn-secondary w-100"><strong>Оставить заявку</strong></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  
{% endblock image_wrapper %}

{% block content_wrapper %}
<div class="container-fluid p-3">
    <div class="row">
        <div class="col-md-3 order-md-1 mt-2">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="#" class="custom-title-link"><i class="fa-regular fa-filters" style="color: #0a58ca;"></i> Фильтр</a>
                    </h5>
                    <form method='get' action="{% url 'vacancy:list' %}#search_results_link" id="filterForm">
                        {% comment %} <label for="profession"> <i class="fa-regular fa-user-helmet-safety" style="color: #0a58ca;"></i> <strong>Специальность:</strong></label>
                        <div class="scroll-container" id="profession">
                            {% for category in categories %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check{{category.id}}prof" name="profession" value="{{category.id}}" {% if category.id in selected_categories %}checked{% endif %}>
                                <label class="form-check-label">{{category.name}}</label>
                            </div>
                            {% endfor %}
                        </div> {% endcomment %}
                        <label for="location"> <i class="fa-regular fa-location-dot " style="color: #0a58ca;"></i> <strong>Регион:</strong></label>
                        <div class="scroll-container" id="location">
                            {% for state in states %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check{{state.id}}loc" name="location" value="{{state.id}}" {% if state.id in selected_states %}checked{% endif %}>
                                <label class="form-check-label">{{state.name}}</label>
                            </div>
                            {% endfor %}
                        </div>
                        
                        <label for="sex"><i class="fa-regular fa-user-group" style="color: #0a58ca;"></i> <strong>Пол:</strong></label>
                        <div class="scroll-container" id="sex">
                            {% for sex in sexes %}
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="check{{sex.id}}sex" name="sex" value="{{sex.id}}" {% if sex.id in selected_sexes %}checked{% endif %}>
                                <label class="form-check-label">{{sex.name}}</label>
                            </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class='col-md-6 col-sm-12 mt-2'>
                                <button type="submit" class="btn btn-primary w-100">Подтвердить</button>
                            </div>
                            <div class='col-md-6 col-sm-12 mt-2'>
                                <button type="submit" class="btn btn-outline-secondary w-100" id="clearButton" name='clear' value='1'>Очистить</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-9 order-md-2 mt-2">
            <div class='container'>
                <h4 id='search_results_link' >Результаты поиска</h4>
                <div class="card-group">
                    <div class="row w-100">
                      {% for vacancy in vacancies %}
                      <div class="col-md-5 col-12 col-sm-8 col-lg-4 mt-2">
                        <div class="card h-100">
                            <img src="{{vacancy.card_photo.file_thumbnail_list.url}}" class="card-img-top" alt="...">
                            <div class="card-body d-flex flex-column">
                                <h5 class="card-title">
                                    <a href="{% url 'vacancy:item' pk=vacancy.pk %}" class="custom-title-link">{{vacancy.name}}</a>
                                </h5>
                                <div class="d-flex flex-column justify-content-between flex-grow-1">
                                    <div>
                                        <div class="card-text"><i class="bi bi-geo-alt custom-salary"></i> {{vacancy.state}}, {{vacancy.city}}</div>
                                    </div>
                                    <div class="custom-card-footer mt-4 d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
                                        <div class="custom-salary"><i class="bi bi-cash-coin"></i> {{ vacancy.get_salary_text_list }}</div>
                                        <a href="{% url 'vacancy:item' pk=vacancy.pk %}" class="btn btn-outline-dark mt-2">Подробнее</a>
                                    </div>
                                </div>
                            </div>  
                        </div>
                      </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content_wrapper %}

{% block scripts %}
<script>
    const images_old = [
        '{% static "main/img/list/3.jpg" %}',
    ];

    // Функция для перемешивания массива в случайном порядке
    function shuffleArray(array) {
        for (let i = array.length - 1; i > 0; i--) {
            const j = Math.floor(Math.random() * (i + 1));
            [array[i], array[j]] = [array[j], array[i]];
        }
        return array;
    }
    

    let images = shuffleArray(images_old);
    let currentIndex = 0;
    const imageElement = document.getElementById("changingImage");

    function changeImage() {
        if (currentIndex >= images.length) {
            images = shuffleArray(images);
            currentIndex = 0;
        };
        imageElement.src = images[currentIndex];
        currentIndex++;
    }

    // Вызываем функцию для изменения изображения каждые 5 секунд
    setInterval(changeImage, 5000);

    // Инициализация изображения при загрузке страницы
    changeImage();
</script>

{% comment %} <script>
    // Обработчик для кнопки "Очистить"
    document.getElementById("clearButton").addEventListener("click", function() {
        // Сбросить все значения полей формы
        document.getElementById("filterForm").reset();

        // Перенаправить на начальный URL без хэша
        window.location.href = "{% url 'vacancy:list' %}";
    });
</script> {% endcomment %}
{% endblock scripts %}